body {
  margin: 0;
  padding: 0;
}

.header {

}

.background-shape {
  background-color: blue;
  box-shadow: -5px 5px 10px rgb(145, 145, 145);
  height: 200px;
  transform: rotate(-10deg);
  transform-origin: bottom left;
}