/* general styles */
:root {
  font-size: 24px;
  --desktop-margin: 36px;
  --desktop-padding: 36px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

/* header styles */

.header {
  position: relative;
  height: 35%;
  overflow: hidden;
}

.bg-box {
  position: relative;
  z-index: 1;
  height: 100%;
  transform-origin: bottom left;
  transform: rotate(-10deg) scaleX(1.1);
  background-color: gold;
}

.header-content {
  padding: var(--desktop-padding);
  padding-left: calc(2*var(--desktop-padding));
  padding-right: calc(2*var(--desktop-padding));
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  background-image: url(./images/profile.jpeg);
  background-position: center;
  background-size: cover;
  float: left;
  background-color: white;
  height: 100%;
  width: 400px;
}

.header-info {
  padding: var(--desktop-padding);
  font-size: 1rem;
  height: 80%;
  width: 100%;
  max-width: 1400px;
  background-color: white
}

/* main body styles */

.main {

}

/* footer styles */

.footer {

}