/* general styles */
:root {
  font-size: 24px;
  --desktop-padding: 36px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* height: 100vh; */
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

/* header styles */

.header {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.bg-box {
  position: relative;
  z-index: 1;
  height: 100%;
  transform-origin: bottom left;
  transform: rotate(-10deg) scaleX(1.1);
  background-color: gold;
}

.header-content {
  padding: var(--desktop-padding);
  padding-left: calc(2*var(--desktop-padding));
  padding-right: calc(2*var(--desktop-padding));
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  background-image: url(./images/profile.jpeg);
  background-position: center;
  background-size: cover;
  float: left;
  background-color: white;
  height: 100%;
  width: 400px;
}

.header-info {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.name-header {
  font-size: 4rem;
  width: 100%;
  padding-left: 100px;
  padding-bottom: 10px;
}

.header-desc {
  padding: var(--desktop-padding);
  font-size: 1rem;
  height: 70%;
  width: 100%;
  max-width: 1400px;
  background-color: white
}

/* main body styles */

.main {
  width: 100%;
  padding: var(--desktop-padding);
}

.portfolio-text {
  font-size: 1.5rem;
  padding-bottom: var(--desktop-padding);
}

.portfolio {
  display: grid;
  gap: var(--desktop-padding);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;
}

.project-photo {
  height: 60%;
  width: 100%;
  background-color: red;
}

.project-info {
  height: 40%;
  width: 100%;
  background-color: white;
  padding: var(--desktop-padding);
  display: flex;
  flex-direction: column;
  gap: var(--desktop-padding);
}

.project-info-header {
  font-weight: bold;
}

/* footer styles */

.footer {
  width: 100%;
  height: 600px;
  background-color: gold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--desktop-padding);
  padding: var(--desktop-padding);
}

.footer-info-container {
  width: 40%;
  height: 100%;
  padding: var(--desktop-padding);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--desktop-padding);
}

.footer-pic {
  background-image: url(./images/dog.jpg);
  background-position: center;
  background-size: cover;
  width: 60%;
  max-width: 800px;
  height: 100%;
  background-color: blue;
}

.footer-heading {
  font-weight: bold;
}

.footer-contact-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  height: 1.3rem;
  aspect-ratio: 1;
}

.footer-icons-container {
  display: flex;
  gap: 1rem;
}

.footer-icons {
  height: 2rem;
  aspect-ratio: 1;
  fill: black;
}
